* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(124, 5, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.display-counter {
  position: absolute;
  top: 85%;
  width: 20%;
  height: 120px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.display-counter div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
}

textarea {
  width: 35%;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(138, 138, 138);
  resize: none;
  font-family: "Roboto", sans-serif;
}

textarea::placeholder {
  color: rgb(0, 0, 0);
}

textarea:focus-visible {
  outline: none;
}

.span-number {
  font-size: 32px;
  font-weight: bold;
}

.span-word {
  color: rgb(146, 146, 146);
}
